gradlew
gradlew.bat
settings.gradle

out/
*.iml
.gradle
.idea
.settings
build
gradle
target
resources/
.class
.html
.classpath
ConnectionManager.java
TwitchClient.java
MySQLDBUtil.java
config.properties